@import "../../components/var";

.presentation {
	margin-bottom: 60px;

	@media (max-width: 661px) {
		margin-bottom: 36px;
	}

	&__content {
		display: flex;
		align-items: flex-end;
		margin-bottom: 37px;

		@media (max-width: 661px) {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 27px;
		}
	}

	&__title {
		max-width: 280px;
		font-weight: bold;
		font-size: $very-big;
		line-height: 57px;
		color: $black;
		margin: 0;
	}

	&__text {
		max-width: 226px;
		font-weight: normal;
		font-size: $normal;
		line-height: 21px;
		color: $black;
		margin-bottom: 8px;
		margin-left: 40px;

		@media (max-width: 768px) {
      margin-left: 38px;
		}
		
		@media (max-width: 661px) {
			margin-left: 0;
			max-width: 224px;
			margin-top: 23px;
		}
	}
}

.slider {

  &__wrapper {
		height: auto;
    overflow: hidden;
  }
  
  &__inner-wrapper {
    display: flex;
    height: 100%;
	}

	&__img {
		height: 100%;
		background-color: $light-gray;
	}

  &__slide {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }
  
  &__bottom-panel {
    margin-top: 21px;
    display: flex;
    align-items: center;
		justify-content: space-between;
		
		@media (max-width: 768px) {
			margin-top: 31px;
		}

		@media (max-width: 600px) {
			margin-top: 21px;
    }
	}
	
	&__pagination {
		margin-top: 4px;

		@media (max-width: 600px) {
			margin-top: 20px;
			margin-bottom: 0;
		}
	}
  
  &__dot {
    width: 10px;
    height: 10px;
    border: none;
    padding: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color .4s;
    
    &:not(:last-child) {
      margin-right: 7px;
    }
    
    &_active {
      background-color: $black;
    }
    
    &:not(.slider__dot_active):hover, &:not(.slider__dot_active):focus {
			background-color: $gray;
		}
		
		&:disabled {
			background-color: $light-gray;
			user-select: none;
			cursor: url(../../static/images/cursor_disabled.svg), not-allowed;
		}
  }
  
  &__button {
    border: 2.5px solid $black;
		border-radius: 50%;
		background-color: transparent;
		text-align: center;
		width: 42px;
		height: 42px;
		fill: $black;
		padding-top: 5px;
		margin-top: 4px;
		padding-left: 9px;
		transition: border-color 0.4s, fill .4s;

		&_back {
			padding-right: 10px;
		}
  
    &:not(:disabled) {
        &:hover, &:focus {
				fill: $gray;
				border-color: $gray;
				cursor: pointer;
      }
		}
		
    &:disabled {
      fill: $light-gray;
			border-color: $light-gray;
			user-select: none;
			cursor: url(../../static/images/cursor_disabled.svg), not-allowed;
    }
  }
}

.info {
	background-color: $light-gray-2;
	padding-bottom: 43px;

	@media (max-width: 600px) {
		padding-bottom: 21px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	&__title {
		padding-top: 60px;
		padding-bottom: 51px;
		margin: 0;
		font-weight: bold;
		font-size: $big;
		line-height: 41px;
		color: $black;

		@media (max-width: 768px) {
      padding-bottom: 50px;
		}
		
		@media (max-width: 600px) {
			padding-top: 40px;
			padding-bottom: 30px;
    }
	}

	&__message {

		align-self: center;
		max-width: 481px;
		border: 2.5px solid $black;
		padding: 14px 13px;
		margin-bottom: 38px;
		position: relative;

		@media (max-width: 600px) {
			margin-right: 0;
		}

		@media (max-width: 600px) {
			padding-bottom: 15px;
		}

		&:nth-child(odd) {
			margin-right: 99px;

			@media (max-width: 600px) {
				margin-right: 0;
			}
		}

		&:nth-child(even) {
			margin-left: 99px;

			@media (max-width: 600px) {
				margin-left: 0;
			}
		}

		&::before {
			content: '';
			position: absolute;
			bottom: -16px;
			width: 30px;
			height: 30px;
			background-color: $light-gray-2;
			border-bottom: 2.5px solid $black;
			border-right: 2.5px solid $black;
			transform: rotate(45deg);
		}

		&:nth-child(odd)::before {
			right: 29px;
		}

		&:nth-child(even)::before {
			left: 29px;

			@media (max-width: 600px) {
				left: 26px;
			}
		}

		&-block {
			z-index: 1;
		}
		
		&-text {
			text-align: start;
			position: inherit;
			margin: 0;
			font-size: $normal;
			line-height: 21px;
			color: $black;
		}

		&-box {
			align-self: center;
		}
  }
}

.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 1px;

	@media (max-width: 600px) {
		padding-top: 40px;
	}

	&__title {
		font-weight: bold;
		font-size: $big;
		line-height: 41px;
		margin: 0;
		padding-bottom: 20px;

		@media (max-width: 600px) {
			padding-bottom: 11px;
		}
	}

	&__text {
		font-weight: normal;
		font-size: $normal;
		line-height: 21px;
		margin: 0;
		padding-bottom: 32px;

		@media (max-width: 600px) {
			padding-bottom: 21px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 20px;
		margin-top: 0;
		margin-bottom: 15px;
		margin-left: -12px;
		margin-right: -12px;

		@media (max-width: 768px) {
			margin-bottom: 19px;
		}

		@media (max-width: 600px) {
			margin-bottom: -1px;
    }
	}

	&__item {
		margin-bottom: 44px;
		margin-left: 11.5px;
		margin-right: 11.5px;

		@media (max-width: 768px) {
			margin-bottom: 40px;
			margin-left: 10.5px;
			margin-right: 10.5px;
		}

		@media (max-width: 600px) {
			margin-left: 11px;
			margin-right: 11px;
		}

		&:nth-child(3) > .skills__loader > .skills__loader-progress {
			margin-right: 20px;	
		}

		&-title {
			font-weight: bold;
			font-size: $small;
			line-height: 17px;
			color: $gray;
			margin-top: 16px;
			margin-bottom: 24px;
		}
	}

	&__loader {
		display: flex;
		align-items: center;

		&-progress {
			font-weight: bold;
			font-size: $small;
			line-height: 17px;
			color: $gray;
			margin-right: 13px;

			@media (max-width: 900px) {
				margin-right: 10px;
			}
		}

		&-scale {
			width: 142px;
			height: 9px;
			background-color: $light-gray;
			position: relative;

			@media (max-width: 900px) {
				width: 111px;
			}

			@media (max-width: 600px) {
				width: 94px;
			}
			
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: $black;
				height: 9px;
				animation: loadingA 4s ease-out infinite;		
			}

			&_html::before {
				width: 85%;		
			}

			&_css::before {
				width: 50%;
			}

			&_js::before {
				width: 21%;
			}

			&_git::before {
				width: 13%;
			}

			&_figma::before {
				width: 80%;
			}
		}
	}
}

@keyframes loadingA {
  0% {
		width: 0%;
  }
  50%, 80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.portfolio {
	text-align: center;
	background-color: $light-gray-2;
	padding-top: 60px;
	padding-bottom: 57px;

	@media (max-width: 600px) {
		padding-top: 40px;
		padding-bottom: 36px;
	}

	&__title {
		font-weight: bold;
		font-size: $big;
		line-height: 41px;
		margin: 0;
		padding-bottom: 50px;

		@media (max-width: 600px) {
			padding-bottom: 31px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		background-color: $light-gray;
	}
}

.swiper {
	&-container {
		width: 100%;
		height: auto;
	}

	&-wrapper {
		position: relative;
	}

	&-button {
		border: none;
		background-color: transparent;

		&:disabled {
			fill: $gray;
			user-select: none;
			cursor: url(../../static/images/cursor_disabled.svg), not-allowed;
		}

		&-prev {
			width: initial;
			right: auto;
			left: 15px;
			
			@media (max-width: 600px) {
				left: 6px;
				top: 49.5%;
			}
	
			&:after {
				content: '';
			}
		}

		&-next {
			width: initial;
			right: 15px;
			left: auto;
		
			@media (max-width: 600px) {
				right: 6px;
				top: 49.5%;
			}
	
			&:after {
				content: '';
			}
		}	
	}

	&-footer {
		position: absolute;
		z-index: 1;
		bottom: 3px;
		left: 0;
		width: 100%;
		display: flex;
    flex-direction: column;
		align-items: center;
		padding: 31px auto;
		background-color: $dark;

		@media (max-width: 600px) {
			padding-left: 15px;
			padding-right: 15px;
		}

		&-link {
			font-size: $normal;
      line-height: 21px;
			color: $white;
			transition: color 0.4s;
			position: relative;
			margin-top: 32px;

			@media (max-width: 400px) {
				max-width: 159px;
				margin-top: 20px;
			}

			&:hover {
				color: $gray;
			}

			&::after {
				content: '';
				bottom:-1px;
				left: 0;
				width: 100%;
				position:absolute;
				border-bottom: 1px dashed $white;
				transition: border-color 0.4s;

				@media (max-width: 400px) {
					left: 5px;
					width: 93%;
				}
			}

			&:hover::after {
				border-bottom: 1px solid $gray;
			}

			&::before { 
				@media (max-width: 400px) {
					content: '';
					bottom: 19px;
					left: 0;
					width: 100%;
					position:absolute;
					border-bottom: 1px dashed $white;
					transition: border-color 0.4s;
				}
			}

			&:hover::before {
				border-bottom: 1px solid $gray;
			}
		}

		&-text {
			max-width: 400px;
			font-size: $small;
			line-height: 16px;
			color: $white;
			margin-top: 16px;
			margin-bottom: 33px;

			@media (max-width: 600px) {
				margin-bottom: 24px;
			}
		}
	}
}