@import "../../components/var";


/*filter*/

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
	align-items: flex-start;
	font-size: $normal;
	line-height: 21px;
	color: $black;
	margin-left: -20px;
	margin-right: -20px;

	@media (max-width: 600px) {
		margin-left: -10px;
		margin-right: -10px;
	}
  
  &__legend {
    font-weight: normal;
		font-size: $small;
		line-height: 16px;
		margin-bottom: 11px;
  }

  &__fieldset {
		display: flex;
		border: 0 none;
		margin-left: 20px;
		margin-right: 20px;
		padding: 0;

		@media (max-width: 858px) {
			margin-bottom: 20px;
		}

		@media (max-width: 600px) {
			margin-left: 10px;
			margin-right: 10px;
		}

		@media (max-width: 327px) {
			margin-bottom: 15px;
		}

		& ~ .filter__form {
			display: initial;

			@media (max-width: 712px) {
				display: flex;
			}
		}
	}

	&__comments {

		@media (max-width: 858px) {
			order: 1;
			margin-right: 18px;
		}
	}

	&__views {

		@media (max-width: 858px) {
			order: 2;
		}

		@media (max-width: 430px) {
			margin-right: 15px;
		}
	}

	&__sort-by {

		@media (max-width: 858px) {
			order: 3;
		}
	}

	&__how-show {

		@media (max-width: 858px) {
			order: 4;
			margin-right: 61px;
			margin-left: 49px;
		}

		@media (max-width: 800px) {
			margin-right: 42px;
		}

		@media (max-width: 733px) {
			margin-left: 20px;
			margin-right: 40px;
		}

		@media (max-width: 592px) {
			margin-left: 10px;
			margin-right: 38px;
		}
	}

	&__tag {
		display: block;
		width: 116px;

		@media (max-width: 858px) {
			order: 5;
			margin-right: 50px;
		}

		@media (max-width: 445px) {
			margin-right: 34px;
		}
	}

  &__checkbox-label {
    position: relative;
    display: inline-flex;
    align-items: center;
		padding-bottom: 8px;

		@media (max-width: 327px) {
			padding-bottom: 7px;
		}
  }

  &__form-checkbox {  /*checkbox*/
    &:checked + .filter__form-checkbox-indicator::after {
      background-color: $white;
    }

    &:checked + .filter__form-checkbox-indicator::before {
      opacity: 1;
		}
		
		&:checked + .filter__form-checkbox-indicator_main::after {
			border: 2.5px solid $black;
		}

    &:disabled + .filter__form-checkbox-indicator::after {
      border: 2.5px solid $red;
    }

    &:disabled + .filter__form-checkbox-indicator::before {
      background: url(../../static/images/Check2_disabled.svg) no-repeat;
    }    

    &:disabled + .filter__form-checkbox-indicator { 
      pointer-events: none;
    } 

    &-indicator {   
			padding-left: 38px;
			padding-top: 3px;
			padding-bottom: 3px;
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: transparent;
			transition: text-decoration-color 0.4s;

			&:nth-child(2) {

				@media (max-width: 332px) {
					max-width: 106px;
				}
			}

			&_2 {
				padding-left: 25.5px;
				padding-bottom: 22px;
				margin-bottom: -4px;
			}

      &:hover {
        text-decoration-color: $black;
			}
			
			&_main:hover::after {
        border: 2.5px solid $black;
			}
    
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 5px;
        top: 5px;
        height: 15px;
        width: 15px;
				
        opacity: 0;
				transition: opacity .4s;
			}
			
			&_main::before {
				background: url(../../static/images/Check2.svg) no-repeat;
			}
    
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 25px;
        width: 25px;
        border: 2.5px solid $light-gray;
				border-radius: 5px;
				transition: border-color 0.4s;
			}
			
			&_tag-1::before {
				background: url(../../static/images/Сheck_blue.svg) no-repeat;
			}

			&_tag-2::before {
				background: url(../../static/images/Сheck_light-blue.svg) no-repeat;
			}

			&_tag-3::before {
				background: url(../../static/images/Сheck_yellow.svg) no-repeat;
			}

			&_tag-4::before {
				background: url(../../static/images/Сheck_turquoise.svg) no-repeat;
			}

			&_tag-5::before {
				background: url(../../static/images/Сheck_orange.svg) no-repeat;
			}

			&_tag-6::before {
				background: url(../../static/images/Сheck_pink.svg) no-repeat;
			}

			&_tag-7::before {
				background: url(../../static/images/Сheck_violet.svg) no-repeat;
			}

			&_tag-8::before {
				background: url(../../static/images/Сheck_green.svg) no-repeat;
			}

			&_tag-1::after {
				border-color: $dark-blue;
			}

			&_tag-2::after {
				border-color: $light-blue;
			}

			&_tag-3::after {
				border-color: $yellow;
			}

			&_tag-4::after {
				border-color: $turquoise;
			}

			&_tag-5::after {
				border-color: $orange;
			}

			&_tag-6::after {
				border-color: $pink;
			}

			&_tag-7::after {
				border-color: $violet;
			}

			&_tag-8::after {
				border-color: $green;
			}
    }  
  }

  &__radio-label {   /*radio*/
    display: flex;
    align-items: center;
		padding-bottom: 7px;
		
		@media (max-width: 327px) {
			padding-bottom: 8px;
		}
  }

  &__form-radio {
    & + .filter__form-radio-indicator::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;
      transform: translate(-50%, -50%);
      height: 13px;
      width: 13px;
      border-radius: 100%;
      background-color: $light-gray;
      opacity: 0;
      transition: opacity .4s;
    }

    &:checked + .filter__form-radio-indicator::before {
			opacity: 1;
			background-color: $black;
		}

		&:checked + .filter__form-radio-indicator::after {
			border: 2.5px solid $black;
		}

    &:disabled + .filter__form-radio-indicator::before {
      background-color: $red;
    }

    &:disabled + .filter__form-radio-indicator::after {
      border: 2.5px solid $red;
    }

    &:disabled + .filter__form-radio-indicator { 
      pointer-events: none;
    }

    &-indicator {
      position: relative;
      padding-left: 38px;
			padding-top: 3px;
			padding-bottom: 3px;
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.4s;

      &:hover {
        text-decoration-color: $black;
			}
			
			&:hover::after {
        border: 2.5px solid $black;
			}
    
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 26px;
        width: 26px;
        border: 2.5px solid $light-gray;
				border-radius: 100%;
				transition: border-color 0.4s;
      }
    }
	}
	
	&__reset-button {
		margin-top: 40px;
		margin-left: -10px;
    margin-right: 20px;
		position: relative;

		@media (max-width: 858px) {
			margin-top: 31px;
			margin-left: 0;
			margin-right: auto;
			order: 6;
		}

		&::before {
			content: 'reset form';
			top: -24px;
			left: 9px;
			font-weight: normal;
			font-size: $small;
			line-height: 16px;
			color: $light-gray;
			position: absolute;
		}
	}

	&__form {
		width: 100%;
		margin-top: 26px;

		@media (max-width: 858px) {
			margin-top: 12px;
			order: 7;
		}

		@media (max-width: 327px) {
			margin-top: 20px;
		}

		&-input {
			padding: 13px 11px;
			width: 87.3%;
			font-family: "Roboto", "Arial", sans-serif;
			font-weight: normal;
			font-size: $normal;
      line-height: 21px;
			border: 2px solid $light-gray;
			margin-right: 2.5%;
	
			@media (max-width: 1039px) {
				width: 85.3%;
			}
	
			@media (max-width: 875px) {
				margin-right: 3.9%;
				width: 80.3%;
			}

			@media (max-width: 765px) {
				margin-right: 2.5%;
			}
	
			@media (max-width: 712px) {
				margin-bottom: 20px;
				width: 100%;
			}
	
			transition: border-color .4s;
	
			&:hover {
				border: 2px solid $gray;
			}
	
			&:active {
				border: 2px solid $gray;
			}
		}

		&-button {

			@media (max-width: 712px) {
				margin-left: auto;
			}
		}
	}
}

/*focus on elements*/

input:focus + .filter__form-checkbox-indicator {
  outline-color: $orange;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

input:focus + .filter__form-radio-indicator {
  outline-color: $orange;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

/* blog */

.blog {
	margin-top: 19px;
	margin-bottom: 24px;

	@media (max-width: 858px) {
		margin-top: 0;
		margin-bottom: 16px;
	}

	@media (max-width: 749px) {
		margin-bottom: 5px;
	}

	@media (max-width: 327px) {
		margin-top: 6px;
	}
	
	&__item {
		display: flex;
		padding-top: 20px;
		padding-bottom: 16px;
		border-top: 2px solid $light-gray;

		@media (max-width: 749px) {
			flex-direction: column;
			padding-bottom: 15px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;

		&-box {
			min-width: 320px;
			height: 100%;
			margin-right: 20px;

			@media (max-width: 768px) {
				min-width: 314px;
			}

			@media (max-width: 749px) {
				min-width: 100%;
				margin-right: 0;
			}
		}
	}

	&__content {
		align-self: center;
		margin-bottom: 7px;
		max-width: 650px;

		@media (max-width: 768px) {
			max-width: 295px;
		}

		@media (max-width: 749px) {
			max-width: 100%;
			margin-top: 16px;
			align-self: flex-start;
		}
	}

	&__tag {
		width: 30px;
		height: 10px;
		border-radius: 5px;
		margin-right: 5px;

		&_1 {
			background-color: $dark-blue;
		}

		&_2 {
			background-color: $light-blue;
		}

		&_3 {
			background-color: $yellow;
		}

		&_4 {
			background-color: $turquoise;
		}

		&_5 {
			background-color: $orange;
		}

		&_6 {
			background-color: $pink;
		}

		&_7 {
			background-color:  $violet;
		}

		&_8 {
			background-color: $green;
		}

		&-list {
			display: flex;
			margin-bottom: 10px;
		}
	}

	&__info {
		margin-right: 7px;
		font-weight: normal;
		font-size: $small;
		line-height: 16px;
		color: $gray;
	}

	&__title {
		margin-top: 13px;
    margin-bottom: 10px;
		font-weight: bold;
		font-size: $large;
		line-height: 29px;
		color: $black;
	}

	&__text {
		font-weight: normal;
		font-size: $normal;
		line-height: 21px;
		color: $black;
		margin-top: 0;
		margin-bottom: 20px;
	}

	&__link {
		color: $black;
		font-weight: bold;
		font-size: $normal;
		line-height: 22px;
		position: relative;

		&::before {
			content: '';
			bottom:-1px;
			left: 0;
			width: 100%;
			position:absolute;
			border-bottom: 1px dashed $black;
		}

		&::after {
			content: '';
			bottom:-1px;
			left: 0;
			width: 100%;
			position:absolute;
			border-bottom: 1px solid transparent;
			transition: border-color 0.4s;
		}

		&:hover::after {
			border-bottom: 1px solid $black;
		}
	}

	&__message {
		text-align: center;
		font-weight: bold;
		font-size: $big;
		color: $red;
	}
}

.selector {
	display: flex;
	justify-content: space-between;
	margin-top: 22px;
	margin-bottom: 55px;

	@media (max-width: 768px) {
		margin-top: 0;
		margin-bottom: 54px;
	}

	@media (max-width: 749px) {
		margin-bottom: 40px;
	}
	
	&-btn {
		border: 2.5px solid $black;
		border-radius: 50%;
		background-color: transparent;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		fill: $black;
		padding-left: 8px;
		margin-top: 4px;
		transition: border-color 0.4s, fill .4s;

		&_back {
			padding-right: 9px;
		}

		&:hover {
			fill: $gray;
			border-color: $gray;
			cursor: pointer;
		}

		&:disabled {
			fill: $light-gray;
			border-color: $light-gray;
			cursor: not-allowed;
		}
	}

	&-pages {
		display: flex;
		flex-wrap: wrap;
		margin-top: 14px;

		@media (max-width: 600px) {
			margin-top: 17px;
			margin-bottom: 0;
		}

		@media (max-width: 749px) {
			margin-top: 14px;
		}
	}

	&-link {
		padding-left: 5px;
		padding-right: 5px;
		font-weight: bold;
		font-size: $normal;
		line-height: 22px;
		color: $gray;
		cursor: pointer;
		transition: color 0.4s;

		&_active {
			color: $black;
		}

		&:hover {
			color: $black;
		}
	}
}