<header class="@@class container">
  <a class="header__home-link header_hover" href="../../index.html">Home</a>
  <nav class="header__nav">
    <ul class="header__nav-list list-point-none">
      <li><a class="header__nav-item header_hover" href="../../pages/blog/index.html">My blog</a></li>
      <li><button class="header__nav-item header__sing-in-button header__sing-in-button_js header_hover">Sign in</button></li>
      <li><button class="header__nav-item header__register-button header__register-button_js header_hover">Register</button></li>
    </ul>
  </nav>
  <button class="header__mobile-menu header__mobile-menu_js">
    <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="6.10352e-05" width="32" height="4" rx="2" fill="#070707"/>
      <rect y="8.00006" width="32" height="4" rx="2" fill="#070707"/>
      <rect y="16.0001" width="32" height="4" rx="2" fill="#070707"/>
    </svg>      
  </button>
  <div class="mobile-header">
    <div class="mobile-header__content">
      <button class="mobile-header__button-close mobile-header__button-close_js header_hover">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="3.37256" width="32" height="4" rx="2" transform="rotate(45 3.37256 0)" fill="#070707"/>
          <rect x="0.543945" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0.543945 22.6289)" fill="#070707"/>
        </svg>          
      </button>
      <ul class="mobile-header__nav-list list-point-none">
        <li><a class="mobile-header__nav-item mobile-header__nav-item_active header_hover" href="../../index.html">Home</a></li>
        <li><a class="mobile-header__nav-item header_hover" href="../../pages/blog/index.html">My blog</a></li>
        <li><button class="mobile-header__nav-item mobile-header__sing-in-button mobile-header__sing-in-button_js header_hover">Sign in</button></li>
        <li><button class="mobile-header__nav-item mobile-header__register-button mobile-header__register-button_js header_hover">Register</button></li>
      </ul>
    </div>
  </div>
</header>