@import "../components/var";

body {
  font-family: "Gilroy", "Geneva", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  line-height: 22px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

input,
textarea {
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0px;
}

/* Фрагмент кода предоставлен лектором */

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 60px;
  }

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

.list-point-none {
  list-style-type: none;
  padding-left: 0;
}

.title__site {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: $very-big;
  line-height: 57px;
  color: $black;
  margin-bottom: 41px;

  @media (max-width: 600px) {
    max-width: 173px;
    margin-bottom: 37px;
    margin-top: 0;
  }
}

/* Forms */

.form {
  font-weight: normal;
  font-size: $small;
  line-height: 16px;
  color: $black;
  background-color: $white;
  border: 2.5px solid $black;

  @media (max-width: 600px) {  /////
    border: none;
  }
  
  &_modal {
    padding: 18px 38px 39px;
    min-width: 680px;
    margin: auto;

    @media (max-width: 740px) {
      min-width: 100%;
    }

    @media (max-width: 600px) {   ///////
      padding: 10px 16px 16px;
    }

    &-sing-in,
    &-password-edit {
      min-width: 370px;

      @media (max-width: 740px) {
        min-width: 100%;
      }
    }
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    min-width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
      min-width: 100%;
      padding-top: 35px;
    }

    &_column {
      flex-direction: column;  /////!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    }

    &-short {
      width: 48.5%;
  
      @media (max-width: 600px) {
        width: 100%;
        position: relative;
      }
  
      &_2 {
        @media (max-width: 600px) {
          margin-bottom: 36px;
        }
      }
    }
  }

  &__label {
    top: 20px;
    position: absolute;

    @media (max-width: 600px) {
      top: 16px;
    }

    &_2 {
      @media (max-width: 600px) {
        top: -20px;
      }
    }

    &-star {
      color: $red;
    }
  }

  &__input {
    padding: 13px 11px;
    width: 100%;
    font-weight: normal;
    font-size: $normal;
    line-height: 21px;
    background-color: $white;
    border: 2px solid $light-gray;

    transition: border-color .4s;

    &:hover {
      border: 2px solid $gray;
    }

    &:active {
      border: 2px solid $gray;
    }

    &_register-js ~ .invalid-feedback,
    &_editing-data-js ~ .invalid-feedback {
      max-width: 100%;
    }

    &_bad {
      border-color: $red;
    }

    &_good {
      border-color: $green-2;
    }

    &-message {
      min-height: 150px;
      width: 100%;
      resize: none;
    }
  }

  &__submit-button {
    margin-top: 20px;

    &_2 {
      margin-top: 30px;
    }
    
    @media (max-width: 600px) {
      margin-top: 15px;
    }
  }

  &__checkbox {
    &:checked + .form__checkbox-indicator::after {
      background: url(../static/images/Сheck.svg) no-repeat;
      background-position: right;
      background-position-y: top;

      @media (max-width: 600px) {
        background-size: 13px;
      }
    }

    &:hover + .form__checkbox-indicator {
      color: $gray;
    }

    &:focus + .form__checkbox-indicator {
      color: $gray;
    }

    &:focus + .form__checkbox-indicator::after {
      border: 2px solid $gray;
    }

    &:checked + .form__checkbox-indicator {
      color: $black;
    }
    
    &-label {
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 20px;
      cursor: pointer;
  
      @media (max-width: 600px) {
        padding-top: 18px;
      }
    }

    &-indicator {
      margin-right: 15px;
      padding-left: 34px;
      padding-top: 2px;
      color: $light-gray;
      transition: color .4s;
  
      @media (max-width: 600px) {
        padding-left: 29px;
        margin-right: 0;
        padding-top: 0;
      }

      
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid $light-gray;
        border-radius: 3px;
        margin-top: 20px;
        transition: border-color 0.4s;

        @media (max-width: 600px) {
          height: 17px;
          width: 17px;
          margin-top: 18px;
        }
      }
      
      &:hover::after {
        border: 2px solid $gray;
      }

      &_bad {
        color: $red; ///////////////////

        &::after {
          border-color: $red;
        }
      }
    }
  }
}

input.button[type='file'] {
  opacity:0    
}

input {
  &:focus {
    border: 2px solid $black;
  }

  &:focus:hover {
    border: 2px solid $black;
  }
}

/* input file */

.form__label-picture { ////////////////////////////////!!!!!!!!!!!!навести порядок
  margin-top: 22px;
  font-weight: normal;
  font-size: $normal;
  line-height: 21px;
  padding: 13px 11px 13px 40px;
  width: 48.5%;
  height: 51px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  background-color: $white;
  border: 2px solid $light-gray;
  transition: border-color .4s;

  @media (max-width: 600px) {
    width: 100%;
  }

  &:hover {
    border-color: $gray;
  }

  &_bad {
    border-color: $red;
  }

  &_good {
    border-color: $green-2;
  }
  
  &::after {
    content: '';
    position: absolute;
    background: url(../static/images/file-upload.svg) no-repeat; 
    background-position: 12px;
    left: 0;
    top: 15px;
    height: 18px;
    width: 31px;
  }
}

.avatar-js {
  height: 51px;
  padding: 13px 11px 13px 40px;
  opacity: 0;
}

.form__label-text {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  top: 20px;
  left: 0;

  @media (max-width: 600px) {
    top: -20px;
  }
}
/////////////////////////////////////////

.invalid-feedback {
  margin-top: 10px;
  max-width: 290px;
  font-size: 14px;
  line-height: 16px;
  color: $red;
}

.valid-feedback {
  margin-top: 10px;
  max-width: 290px;
  font-size: 14px;
  line-height: 16px;
  color: $green-2;
}

.form__checkbox:checked + .form__checkbox-indicator::after{
  transition: border-color 0.4s;
  border: 2px solid $black;
}

input:focus + .form__checkbox-indicator {
  outline-color: $orange;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

/*modal window*/

.modal {
  display: flex;
  position: fixed;
  background-color: $light;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;

  @media (max-width: 680px) {
    display: block;
    overflow: auto;
    text-align: center;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      font-size: 0;
      height: 100%;
      vertical-align: middle;
      width: 0;
    }
  }
  
  @media (max-width: 600px) {   ////
    background-color: $white;
  }
	
  &__content {
    display: block;
    position: relative;
    align-self: center;
    margin: 0 auto;
    text-align: left;

    @media (max-width: 740px) {
      min-width: 84.5%;
    }

    @media (max-width: 680px) {
      display: inline-block;
      vertical-align: middle;
      margin: 40px 0;
      width: 89%; 
    }  
    
    @media (max-width: 600px) {  /////
      width: 98%;
    }
  }

  &_close {
    display: none;
  }

  &__close {
    position: absolute;
    top: 0;
    right: -36px;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: $gray;
    cursor: pointer;

    @media (max-width: 973px) {
			top: -36px;
      right: 0;
    }

    @media (max-width: 600px) {   ////
      top: -20px;
      right: initial;
      left: 20px;
    }

    transition: fill .4s;

    &:hover {
      fill: $black;
    }
  }
}

/*top button*/

.top-button {
	position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 1;
	border: 2.5px solid $black;
	border-radius: 50%;
	background-color: transparent;
	text-align: center;
	width: 42px;
	height: 42px;
	fill: $black;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: none;

	&_show {
		display: block;
  }
  
  @media (max-width: 768px) {
    right: 10px;
  }
}

// Подключение компонентов

@import "./button/button";
@import "./header/header";
@import "./footer/footer";
@import "./link-button/link-button";