@import "../var";

.footer {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;

	&_2 {
		background-color: $light-gray-2;
	}

	@media (max-width: 400px) {
		padding-top: 40px;
	}

	&__title {
		font-weight: bold;
		font-size: $big;
		line-height: 41px;
		margin: 0;
		padding-bottom: 20px;

		@media (max-width: 400px) {
			padding-bottom: 11px;
		}
	}

	&__text {
		max-width: 270px;
		font-weight: normal;
		font-size: $normal;
		line-height: 21px;
		margin: 0;
		padding-bottom: 32px;

		@media (max-width: 400px) {
			padding-bottom: 41px;
		}

		&-bottom {
			margin: 0;
			padding-top: 5.5px;
			font-weight: normal;
			font-size: $small;
			line-height: 16px;
			color: $gray;
		}

		&-link {
			color: $gray;
			transition: color 0.4s;
			position: relative;

			&:hover {
				color: $black;
			}

			&::after {
				content: '';
				bottom:-1px;
				left: 0;
				width: 100%;
				position:absolute;
				border-bottom: 1px dashed $gray;
				transition: border-color 0.4s;
			}

			&:hover::after {
				border-bottom: 1px solid $black;
			}
		}
	}

	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0;
	}

	&__button {
		margin-bottom: 51px;
	}

	&__link {

		&-list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: row;
			max-width: 335px;
			margin-top: 0;
			margin-bottom: 15px;
			margin-left: -5px;
			margin-right: -5px;

			@media (max-width: 400px) {
				max-width: 211px;
			}
		}

		&-item {
			margin-bottom: 30px;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}